:root {
  --ev-c-black: #1b1b1f;
  --ev-c-text-1: rgba(255, 255, 245, 0.86);
  --color-background: var(--ev-c-black);
  --color-text: var(--ev-c-text-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

input,
textarea {
  font-family: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 50px 25px;
  color: var(--color-text);
  background: var(--color-background);
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  background-attachment: fixed;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  flex: 0 0 min-content;
  width: 100%;
  max-width: 1000px;
}
